<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		<bindings>
      <mexTcpBinding>
          <binding name="NewBinding0" closeTimeout="00:05:00" />
      </mexTcpBinding>
  </bindings>
  <behaviors>
        <serviceBehaviors>
          <behavior name="MyBeh">
            <serviceMetadata/>
          </behavior>
        </serviceBehaviors>
      </behaviors>

        <services>
            <service behaviorConfiguration="MyBeh" name="AddService.Service1">
                <endpoint address="http://localhost:4000" binding="basicHttpBinding"
                    bindingConfiguration="" contract="AddService.IService1" />
                <endpoint address="net.tcp://localhost:9090/MyTcpEndPoint/mex"
                    binding="mexTcpBinding" bindingConfiguration="NewBinding0"
                    contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>